name: CI

on:
  push:
    branches: ['master']
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        ruby: [2.4, 2.5, 2.6, 2.7, '3.0', 3.1, 3.2, 3.3, 3.4, jruby, truffleruby]
        exclude:
          - { os: windows-latest, ruby: truffleruby }
    env:
      JRUBY_OPTS: '--debug'
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run test with Coveralls
        run: bundle exec rake
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.ruby == '3.3' }}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      - name: Run test
        run: bundle exec rake
        if: ${{ !(matrix.os == 'ubuntu-latest' && matrix.ruby == '3.3') }}
